<!DOCTYPE html>
<html ng-app="nrlMultiViewer">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body ng-controller="MainController">
<h1>{{message}}</h1>
<div>{{ error }}</div>
<br>

<table>
    <tr>
        <th>offerId</th>
        <th>offerName</th>
        <th>WinReturn</th>
        <th>Home</th>
        <th>subEventId</th>
        <th>Away</th>
        <th>offerId</th>
        <th>offerName</th>
        <th>WinReturn</th>
    </tr>
    <tr ng-repeat="subEvent in subEvents">
        <td>{{subEvent.Offers[0].OfferId}}</td>
        <td>{{subEvent.Offers[0].OfferName}}</td>
        <td><a target="_blank"
               ng-href="https://ubet.com/sports/bet-offer?WinPrice=2&Offers[0].SubEventId={{subEvent.SubEventId}}&Offers[0].OfferId={{subEvent.Offers[0].OfferId}}">
            {{subEvent.Offers[0].WinReturn}}</a>
        </td>
        <td><input type="radio" ng-model="$userSelection[index]" id="radio_{{subEvent.Offers[0].OfferId}}" ng-value="subEvent.Offers[0]"/></td>
        <td>{{subEvent.SubEventId}}</td>
        <td><input type="radio" ng-model="$userSelection[index]" id="radio_{{subEvent.Offers[1].OfferId}}" ng-value="subEvent.Offers[1]"/></td>
        <td><a target="_blank"
               ng-href="https://ubet.com/sports/bet-offer?WinPrice=2&Offers[0].SubEventId={{subEvent.SubEventId}}&Offers[0].OfferId={{subEvent.Offers[1].OfferId}}">
            {{subEvent.Offers[1].WinReturn}}</a>
        </td>
        <td>{{subEvent.Offers[1].OfferName}}</td>
        <td>{{subEvent.Offers[1].OfferId}}</td>
    </tr>
</table>
<br>
Gamble Responsibly, Gamblers Help 1800 858 858
<br><br>
<a href="https://github.com/spjenk/AngularJS/tree/master/ubetSport/multi"><i>source code</i></a>

</div>
</body>

</html>